*{
  margin: 0;
  padding: 0;
}

.header{
  background-color: #BFFFF5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

#logo{
  height: 50px;
}

.login{
  margin-left: 45%;
  width: 120px;
  height: 50px;
  background-color: #BFFFF5;
  border-radius: 10%;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #007865;
  bottom: 0;
  position: fixed;
  width: 100%;
}

#logofooter{
  margin: 0.7rem;
  height: 50px;
}

.Desenvolvedores{
  display: inline-block;
  margin-left: 0.4rem;
  margin-bottom: 0.7rem;
}